.function {
	display: table;
    margin: 6px 0;
    font-size: 90% !important;
    line-height: normal;
    background: #e7f2fa !important;
    color: #2980b9 !important;
    border-top: 3px solid #6ab0de !important;
    padding: 6px !important;
    position: relative;
}