# Byte-compiled / optimized / DLL files
__pycache__/
eodms_rapi/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
_deploy_testpypi.bat
_deploy_pypi.bat
_build.bat
.Python
build/
develop-eggs/
dist/
dist_backup/
old_dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/_build/
docs/_pyexamples
docs/build/
docs/source/
docs/make.bat
docs/Makefile

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tests
test/test_pyeodmsrapi.bat
test/__pycache__
test/*.bat
test/files/
test/venv/

# user specific overrides
_update_repository.bat
eodms_rapi/backup*/
eodms_rapi/*.bak
old_docs/
open_env.ps1
*.bak